@import url('https://fonts.googleapis.com/css2?family=Exo+2:ital,wght@0,100..900;1,100..900&family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Oswald:wght@200..700&family=Overpass:ital,wght@0,100..900;1,100..900&family=Scada:ital,wght@0,400;0,700;1,400;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Exo+2:ital,wght@0,100..900;1,100..900&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Oswald:wght@200..700&family=Overpass:ital,wght@0,100..900;1,100..900&family=Scada:ital,wght@0,400;0,700;1,400;1,700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

i {
  color: white;
}

img {
  width: 1.4375rem;

}

.left-section {
  display: flex;
  align-items: center;
  gap: 32px;
}

.navbar {
  background-color: #1B1C22;
  display: flex;
  align-items: center;
  padding: 1.25rem;
  height: 2.1875rem;
}

.navbar ul {
  display: flex;
  font-family: 'Inter';
  font-weight: 300;
}

.navbar li {
  margin-right: 0.625rem;
  list-style: none;
}

.navbar a {
  text-decoration: none;
  color: white;
}

.searchbar {
  display: flex;
  align-items: center;
  position: absolute;
  left: 80%;
  transform: translateX(-50%)
}

::placeholder {
  color: white;
  font-family: 'Inter';
  font-weight: 300;
}

.searchbar input {
  background-color: #1B1C22;
  border-color: gray;
  border-radius: 1.875rem;
  text-align: center;
  padding: 0.1875rem;

}

.arrows {
  display: none;
}

.icon {
  position: absolute;
  left: 2.5rem;
  top: 0.8125rem;
  transform: translateY(-50%);
}

body {
  background-color: #282a36;
}

h1 {
  color: white;
  font-family: 'Open Sans';
  font-weight: 350;
  margin-bottom: 0.1875rem;
  margin-left: 0.1875rem;
}

h2 {
  color: #bfbfbf;;
  font-family: 'Exo 2';
  font-weight: 250;
}

h3 {
  color: white;
  font-family: 'Exo 2';
  font-weight: 200;
}

p {
  color: white;
  font-family: 'Inter';
  font-weight: 200;
  margin-top: 1.875rem;
  margin-right: 1.25rem;
}

.herotitle {
  padding-top: 5rem;
  margin-left: 5rem;
}

.herostart {
  margin-top: 5rem;
  margin-left: 5rem;
}

.herowalkthroughs {
  margin-top: 5rem;
  margin-left: 5rem;
}

.herostart a,
.herowalkthroughs a {

  font-family: 'Inter';
  font-weight: 300;
  margin-top: 1.25rem;
  text-decoration: none;
  color: #4589FF;
  ;
}

.icon1 i {
  margin-top: 1.25rem;
  margin-right: 0.625rem;
  color: #4589FF;
}

.icon2 i {
  margin-top: 1.25rem;
  margin-right: 0.5rem;
  color: #4589FF;
}

.icon3 i {
  margin-top: 1.25rem;
  margin-right: 0.75rem;
  color: #4589FF;
}


.walkthrough-card {
  position: relative;
  width: 18.75rem;
  background-color: #2d2d30;
  border-radius: 0.5rem;
  padding: 1rem;
  box-shadow: 0 0.25rem 0.5rem rgba(0, 0, 0, 0.3);
  margin-top: 1.25rem;
}

.walkthrough-card::before {
  content: '';
  position: absolute;
  transform: rotate(90deg);
  top: 0;
  left: 0;
  width: 0;
  height: 0;
  border-left: 3.4375rem solid #de64d4;
  border-top: 3.4375rem solid transparent;
  border-bottom: none;
  border-right: none;
  z-index: 0;
  border-radius: 0.5rem 0 0 0;

}


.walkthrough-card::after {
  content: '';
  position: absolute;
  top: 0.3125rem;
  left: 0.3125rem;
  width: 1.5625rem;
  height: 1.5625rem;
  background-color: white;
  clip-path: polygon(50% 0%,
      61% 35%,
      98% 35%,
      68% 57%,
      79% 91%,
      50% 70%,
      21% 91%,
      32% 57%,
      2% 35%,
      39% 35%);
  z-index: 1;
}

.walkthrough-content {
  margin-left: 3rem;
}

.walkthrough-title {
  font-size: 1.125rem;
  font-weight: bold;
  width: 8.75rem;
  margin: 0;
}

.progress-bar {
  height: 0.25rem;
  background-color: #007acc;
  border-radius: 0.125rem;
  margin-top: 0.75rem;
  width: 50%;

}

.walkthrough-subtitle {
  font-size: 0.875rem;
  color: #bfbfbf;
  margin-top: 0.5625rem;
}


.progress-bar {
  height: 0.25rem;
  background-color: #007acc;
  border-radius: 0.125rem;
  margin-top: 0.75rem;
  width: 50%;

}


.sidebar {
  position: absolute;
  width: 2.8125rem;
  height: 68.75rem;
  background-color: #44475A;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0.625rem 0;
  box-shadow: 0.125rem 0 0.25rem rgba(0, 0, 0, 0.3);
}

@media (min-width: 43.75rem) {
  .searchbar input {
    width: 14.375rem;
  
  }

  .sidebar {
    height: 56.25rem;
  }

  .icon {
    left: 6.875rem;
  }

  .arrows {
    display: flex;
    gap: 0.3125rem;
    margin-right: 0.625rem;
  }

  .walkthrough-card {
    width: 37.5rem;
  }

  .walkthrough-title {
   width: 18.75rem;
  }

}

@media (min-width: 62.5rem) {
.searchbar {
            left: 50%;
            transform: translateX(-50%);
  }

  .search-bar {
    width: 37.5rem;
  }

 .arrows  {
    gap: 0.9375rem;
    padding: 0.9375rem;
  }

  .icon {
  left: 20.625rem;
  top: 48%;
  transform: translateY(-50%);
  }

 .hero {
  margin-left: 12.5rem;
  position: relative;
  
 }

 .herowalkthroughs {
  position: absolute;
  right: 48,5%;
  top: 100%;
 }
  


}